repos:
-   repo: https://github.com/psf/black
    rev: 21.9b0
    hooks:
    - id: black
      args: [--safe, --quiet]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
- repo: https://github.com/humitos/mirrors-autoflake.git
  rev: v1.1
  hooks:
  - id: autoflake
    args: [--in-place, --remove-unused-variable]
- repo: https://github.com/asottile/reorder_python_imports
  rev: v2.6.0
  hooks:
  - id: reorder-python-imports
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.28.0
    hooks:
    - id: pyupgrade
      args: [--py36-plus]
-   repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
    -   id: flake8
        args: [--max-line-length=100, '--per-file-ignores=*/__init__.py:F401']
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.17.0
    hooks:
    -   id: setup-cfg-fmt
